name: Setup Fortran Conda CI/CD

on:
  push:
    branches: [main, dev]
    paths-ignore: ['README.md','CHANGELOG.md','VERSION','LICENSE']
  pull_request:
    branches: [main]
    paths-ignore: ['README.md','CHANGELOG.md','VERSION','LICENSE']
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * MON,WED,FRI,SUN"

permissions:
  contents: write
  pull-requests: write

jobs:
  test_fpm:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: ${{ matrix.os }}_${{ matrix.compiler }}_fpm
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {os: ubuntu-latest,  compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: ifx,       compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: flang-new, compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: nvfortran, compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: lfortran,  compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: ifx,       compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: flang-new, compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: lfortran,  compiler-version: "", extra-packages: ""}
        - {os: macos-latest,   compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: macos-latest,   compiler: lfortran,  compiler-version: "", extra-packages: ""}

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          platform: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          compiler-version: ${{ matrix.compiler-version }}
          extra-packages: ${{ matrix.extra-packages }}

      - name: fpm test (debug)
        run: fpm test --compiler ${{ matrix.compiler }} --target check --profile debug --verbose

      - name: fpm test (release)
        run: fpm test --compiler ${{ matrix.compiler }} --target check --profile release --verbose

  test_mpi_fpm:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: ${{ matrix.os }}_${{ matrix.compiler }}_mpi_fpm
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {os: ubuntu-latest, compiler: mpifort, compiler-version: "", extra-packages: ""}
        - {os: macos-latest,  compiler: mpifort, compiler-version: "", extra-packages: ""}

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          platform: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          compiler-version: ${{ matrix.compiler-version }}
          extra-packages: ${{ matrix.extra-packages }}

      - name: fpm test (debug)
        run: fpm test --target mpi_hello --compiler ${{ matrix.compiler }} --profile debug --flag "-cpp -DUSE_MPI" --runner "mpirun -np 4" --verbose

      - name: fpm test (release)
        run: fpm test --target mpi_hello --compiler ${{ matrix.compiler }} --profile release --flag "-cpp -DUSE_MPI" --runner "mpirun -np 4" --verbose

  test_cmake:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: ${{ matrix.os }}_${{ matrix.compiler }}_cmake
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {os: ubuntu-latest,  compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: ifx,       compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: flang-new, compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: nvfortran, compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: lfortran,  compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: ifx,       compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: flang-new, compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: lfortran,  compiler-version: "", extra-packages: ""}
        - {os: macos-latest,   compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: macos-latest,   compiler: lfortran,  compiler-version: "", extra-packages: ""}

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          platform: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          compiler-version: ${{ matrix.compiler-version }}
          extra-packages: ${{ matrix.extra-packages }}

      - name: cmake test (debug)
        run: |
          cmake -S . -B build/debug -DCMAKE_BUILD_TYPE=Debug -DCMAKE_Fortran_COMPILER=${{ matrix.compiler }} -G Ninja
          cmake --build build/debug --config Debug --verbose
          ctest --test-dir build/debug --output-on-failure -VV

      - name: cmake test (release)
        run: |
          cmake -S . -B build/release -DCMAKE_BUILD_TYPE=Release -DCMAKE_Fortran_COMPILER=${{ matrix.compiler }} -G Ninja
          cmake --build build/release --config Release --verbose
          ctest --test-dir build/release --output-on-failure -VV

  test_meson:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: ${{ matrix.os }}_${{ matrix.compiler }}_meson
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {os: ubuntu-latest,  compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: ifx,       compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: flang-new, compiler-version: "", extra-packages: ""}
        - {os: ubuntu-latest,  compiler: nvfortran, compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: gfortran,  compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: ifx,       compiler-version: "", extra-packages: ""}
        - {os: windows-latest, compiler: flang-new, compiler-version: "", extra-packages: ""}
        - {os: macos-latest,   compiler: gfortran,  compiler-version: "", extra-packages: ""}

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          platform: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          compiler-version: ${{ matrix.compiler-version }}
          extra-packages: ${{ matrix.extra-packages }}

      - name: meson test (debug)
        run: |
          meson setup --wipe build/meson/debug --buildtype debug --backend=ninja
          meson compile -C build/meson/debug --verbose
          meson test -C build/meson/debug --verbose

      - name: meson test (release)
        run: |
          meson setup --wipe build/meson/release --buildtype release --backend=ninja
          meson compile -C build/meson/release --verbose
          meson test -C build/meson/release --verbose

  doc_ford:
    if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Generate FORD Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Setup and Generate FORD Documentation
        uses: gha3mi/setup-fortran-conda@latest
        with:
          compiler: gfortran
          generate-doc-ford: true
          ford-working-directory: .
          ford-config: README.md
          ford-output-directory: doc/ford
          ford-branch: gh-pages-ford
          ford-target-folder: doc/ford

  doc_doxygen:
    if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Generate Doxygen Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Setup and Generate Doxygen Documentation
        uses: gha3mi/setup-fortran-conda@latest
        with:
          compiler: gfortran
          generate-doc-doxygen: true
          doxygen-working-directory: .
          doxygen-config: Doxyfile
          doxygen-output-directory: doc/doxygen
          doxygen-branch: gh-pages-doxygen
          doxygen-target-folder: doc/doxygen

  status_fpm:
    if: ${{ always() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Generate STATUS.md
    needs: [test_fpm, test_mpi_fpm]
    runs-on: ubuntu-latest
    steps:
      - name: Generate summary
        uses: gha3mi/setup-fortran-conda@latest
        with:
          generate-status-fpm: true

  status_cmake:
    if: ${{ always() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Generate STATUS.md
    needs: [test_cmake]
    runs-on: ubuntu-latest
    steps:
      - name: Generate summary
        uses: gha3mi/setup-fortran-conda@latest
        with:
          generate-status-cmake: true

  status_meson:
    if: ${{ always() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Generate STATUS.md
    needs: [test_meson]
    runs-on: ubuntu-latest
    steps:
      - name: Generate summary
        uses: gha3mi/setup-fortran-conda@latest
        with:
          generate-status-meson: false

  update_readme_table:
    if: ${{ always() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Update README.md status table
    needs: [status_fpm, status_cmake, status_meson]
    runs-on: ubuntu-latest
    steps:
      - name: Update README status
        uses: gha3mi/setup-fortran-conda@latest
        with:
          update-readme-table: true
          update-readme-token: ${{ secrets.GH_PAT }}   # Update with your GitHub personal access token
          update-readme-user-name: "Seyed Ali Ghasemi" # Update with your name
          update-readme-user-email: "info@gha3mi.com"  # Update with your email

  linter_fortitude:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Run Fortitude Linter
    runs-on: ubuntu-latest
    steps:
      - name: Run Fortitude Linter
        uses: gha3mi/setup-fortran-conda@latest
        with:
          fortitude-check: true
          fortitude-settings: "--output-format github"